doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Nav-AF
		link(rel="stylesheet", href="style.scss")
	body 
		.header 
			.header__container
				img.header__logo(src="imagenes/LogoA.png", alt="logo")
				a.header__nombre(href="#")
					span.header__span AnimeFlash
				nav.nav
					ul.nav__list
						li.nav__item
							a.nav__link(href="#")
								include ../iconos/libro-header.svg
								| Directorio 
						li.nav__item
							a.nav__link(href="#")
								include ../iconos/libro-header.svg
								| Emision 
						li.nav__item
							a.nav__link(href="#")
								include ../iconos/libro-header.svg
								| Donar
						li.nav__item
							a.nav__link(href="#")
								include ../iconos/libro-header.svg
								| Noticias
				.perfil
					.perfil__imagen
						img.perfil__icon(src="/imagenes/Onepice.png", alt="")
					.perfil__flecha 
						include ../iconos/flecha-perfil.svg